@import url(http://fonts.googleapis.com/css?family=Raleway);

body{
    margin: 0;
    padding: 0;     
} 

.tm-article-subtitle { 
  font-size: 16px;
  line-height: 16px; 
}
 
.uk-panel.uk-panel-box{ 
    background: #F6F7F9;
    background-color: #F6F7F9;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    padding: 20px 15px !important;
    margin-top: 10px;
}


.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position:relative;
}
.dropdown a, 
.dropdown a:visited {
    color:#fff;
    text-decoration:none;
    outline:none;
    font-size: 12px;
}

.dropdown dt a {
    background-color:#4F6877;
    display:block; 
    overflow: hidden; 
    padding: 20px 20px 0 10px;
    line-height: 5px;
    border:0;
    width:272px;
}
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0; 
}
.dropdown dd ul {
    background-color: #4F6877;
    border:0;
    color:#fff;
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:280px;
    list-style:none;
    height: 100px;
    overflow: auto;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:#fff;
}
 
input:not([type]).uk-form-large, input[type].uk-form-large, select.uk-form-large, textarea.uk-form-large {
    height: 40px;
    padding: 8px 6px;
    font-size: 12px; 
}

.uk-panel-box.uk-panel-custome{
    
}
.pagination span.page-numbers.current{
    font-size: 13px;
    margin: 3px;
    padding: 3px;
    background: #059;
    color: #fff;
}
.pagination a.page-numbers{
    font-size: 13px;
    margin: 5px;
    padding: 5px;
    background: #ccc; 
}
/*  additional */
.label { 
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    text-align: left;
}
.uk-panel-box.box-guardian{ 
    color: #6b6666;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 0; 
}
.uk-form-controls label {
  padding:7px;
}
.uk-form-label.label-guardian{
    margin-bottom: 10px;
}
.uk-button.uk-button-success{
    color: #fff;
}
.uk-tab.tab-guardian{
    background: #fff;
}
.uk-tab.tab-guardian li + li{ 
    border-left: 1px solid  #ccc;
}
.uk-tab.tab-guardian li a{
    color: #000;
}
.uk-tab.tab-guardian li.active{
    background: #8ec73b;
    color: #fff;
}
.uk-tab.tab-guardian li.active:hover a{
    background: #8ec73b;
    color: #fff;
    border:none;
}
.uk-tab.tab-guardian li.active a{
    color: #fff;
}
.uk-tab.tab-guardian>li:nth-child(n+2)>a {
    margin-left: 0px; 
}
.uk-tab.tab-guardian>li.active:hover:nth-child(n+2)>a {
    margin-left: 0px; 
}
.uk-tab.tab-guardian>li>a {
    display: block;
    padding: 8px 12px;
    border: none;
    border-bottom-width: 0;
    text-decoration: none;
}
.uk-tab.tab-guardian{
    border-bottom: 0px
}

.editable.test{
    border: 2px solid #000;
    padding: 10px;
}